h3{
    margin: 0;
    clear: both;
}

.post{
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 15px 30px;
    margin: 1rem 0rem;
    overflow: auto;
    z-index: 200;
}

.post div{
    text-align: center;
}

.post h3{
    margin-bottom: 0.3rem;
}

a{
    text-decoration: none;
    color: rgb(252, 148, 3);
    transition-duration: 0.7s;
}

a:hover, a:active{
    transition-duration: 0.7s;
    color: #ffc547;
}

.postLink {
    color: inherit;
}

.postLink:hover{
    color: #444;
}

.social-wrapper{
    display: inline-block;
    margin: 40px 0px;
}

.social-item{
    display: inline;
    margin: 30px;
}

footer{
    text-align: center;
}

.social{
    color: #fc9403;
    transition: 0.7s;
}

.social:hover{
    color: #ffc547;
    transition: 0.7s;
}

.lone{
    padding-top:50px;
}

.sub-header{
    margin: 0 auto;
    width:60%;
    text-align: center;
    border-radius: 25px;
}

.sub-header p{
    font-style: italic;
}

.sub-header p{
    font-style: italic;
}

hr{
    width: 75%;
    margin: 2rem auto;
}

.blog-post-content{
    margin: 0 4rem;
}

svg{
    width: 64px;
    height: 64px;
}

@media screen and (min-width: 764px) {
    .post{
        width: 80%;
        margin-left: 3rem;
    }

    .post img{
        max-width: 100;
        max-height: 100px;
        padding: 10px;
        margin-right: 30px;
    }

    .post small{
        float: right;
    }

    .social-wrapper{
        margin: 100px 100px 10px 100px;
        list-style-type:none;
    }
}

@media screen and (min-width: 1220px) {
    .post{
        width: 40%;
        display: inline-block;
        margin-left: 3rem;
        overflow: hidden;
    }

    .post img{
        max-width: 100;
        max-height: 100px;
        padding: 10px;
        margin-right: 30px;
    }

    .social-wrapper{
        margin: 100px 100px 10px 100px;
    }
}
